* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#correo {
    background-color: antiquewhite;
    text-decoration: none;
    margin: 1em auto;
    color: #fff;
    padding: 1em 2em 1em 3.5em;
    border-radius: 2em;
    font-weight: bold;
    background: grey  no-repeat 1.5em center;
    background-size: 1.6em;

}

#formu {
    /* border: 1px solid black; */
    text-align: center;
}

#botones{
    width: 100%;
    border: 1px;
    margin-top: 5%;
}


#wha{
    text-decoration: none;
    margin: 1em auto;
    color: #fff;
    padding: 1em 2em 1em 3.5em;
    border-radius: 2em;
    font-weight: bold;
    background: #25d366 url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg') no-repeat 1.5em center; background-size: 1.6em;
}

#tel{
    background-color: antiquewhite;
    text-decoration: none;
    margin: 1em auto;
    color: #fff;
    padding: 0.5%;
    border-radius: 2em;
    font-weight: bold;
    background: rgb(114, 32, 32);
    background-size: 1.6em;
}

#botones>a{
    text-decoration: none;
}