* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lanzamientos_izq>li:hover {
    text-decoration: none;
    background-color: green;
}


.lanzamientos_izq>img{
    width:35%;
    float: left;
    /* margin-right: 2%; */
    

}
.lanzamientos_der>img {
    width: 35%;
    float: right;
}

img {
    border: 2px solid black;
}

img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    width: 40%;
    overflow: hidden;
}

.lanzamientos_der,.lanzamientos_izq {
    margin-bottom: 7%;
}



.cale {
    margin-top: 2%;
    background-color: grey;
}

.cale:hover {
    background-color: black;
    color: whitesmoke;
}

